<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		 <tr>
		   <th>board_no</th>
		   <th>title</th>
		   <th>content</th>
		   <th>writer</th>
		   <th>write_date</th>
		   <th>click_cnt</th>
		   <th>image</th>
		 </tr>
		 <tr th:each="board : ${boardList}">
		   <td th:text="${board.boardNo}"></td>
		   <td th:text="${board.title}"></td>
		   <td th:text="${board.content}"></td>
		   <td th:text="${board.writer}"></td>
		   <td th:text="${board.writeDate}"></td>
		   <td th:text="${board.clickCnt}"></td>
		   <td th:text="${board.image}"></td>
		 </tr>
	</table>
</body>
</html>