<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.demo.board.mapper.BoardMapper">
 
  	<sql id="condition">
 	<where>
	 	<if test="vo.title != null">
		 TITLE = #{title}	 	
	 	</if>
	 	<if test="vo.content != null">
		 AND CONTENT = #{content}
 	 	</if>
	 	<if test="vo.writer != null">
		 AND WRITER = #{writer}
 	 	</if>
 	 	<if test="svo.boardNos != null">
 	 	 AND board_no
 	 	 	<foreach collection="svo.boardNos" item="boardno" open="in (" close=")" separator=",">
 	 	 		#{boardno}
 	 	 	</foreach>
 	 	</if>
	 </where>
 	</sql>
 	
 	<select id="getBoardList" resultType="BoardVO">
 	SELECT * FROM (SELECT rownum AS rn, a.* FROM (
 	
 	SELECT BOARD_NO
			, TITLE
			, CONTENT
			, WRITER
			, WRITE_DATE
			, CLICK_CNT
			, IMAGE
	FROM board b
	<include refid="condition"></include>
	ORDER BY title
 	
 	) a where rownum <![CDATA[<=]]>#{svo.end} b where rn >= #{svo.start}
 	</select>
 	
 	
 	<select id="getBoardInfo" parameterType="String" resultType="BoardVO">
 		select *
 		from board
 		where board_no = #{boardNo}
 	</select>
 	
 	
 	<insert id="insertBoard" parameterType="BoardVO">
 		<selectKey keyProperty="boardNo" order="BEFORE" resultType="int">
 			select board_seq.nextval from dual
 		</selectKey>
 		insert into board
 					(BOARD_NO
					, TITLE
					, CONTENT
					, WRITER
					, WRITE_DATE
					, CLICK_CNT
					, IMAGE)
		values (
				#{boardNo}
				, #{title}
				, #{content}
				, #{writer}
				, #{writeDate}
				, #{clickCnt}
				, #{image}
		)
 	</insert>
 	
 	
 	<delete id="deleteBoard">
 		delete from board
 		where board_no = #{boardNo}
 	</delete>
 
 </mapper>